{% if mylist %}
    <table>
    <tr>
        <td>Nachname</td>
        <td>Vorname</td>
        <td>Tore</td>
        <td>Rote</td>
        <td>Gelbe</td>
        <td>Scores</td>
    </tr>
    {% for itemattributes in mylist %}
    <tr>
        {% for item in itemattributes%}
        <td>
            {{ item }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No scorer are available.</p>
{% endif %}


